.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFCB05;
    border-radius: 5px;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;

}

.feature {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.feature__text {
    text-transform: uppercase;
    font-weight: bold;
}

.feature__name {
    margin-right: 30px;
    width: 50px;
    color: #E74C3C;
}

.feature__element {
    background-color: #3A5CA7;
    text-transform: uppercase;
    padding: 6px;
    color: white;
    white-space: nowrap;
    border-radius: 4px;
    margin-right: 20px;
    /* font-weight: bold; */
    letter-spacing: 1.2px;
}
.feature__element--abilities {
    background-color: red;
    margin-top: 20px;
}

.card__img {
    height: 150px;
    background-color: #E74C3C;
    border-radius: 50%;
}

.loader {
    color: #FFCB05;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin: 50px auto;
    width: 150px;
}

.backButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.feature__abilities {
    display: flex;
}

@media only screen and (max-width: 800px) {
    .card {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    }
    .feature__element--abilities {
        display: flex;
        flex-direction: column;
    }
     }