
.list {
    min-width: 300px;
    max-width: 1000px;
    padding: 30px;
    margin: auto;
}

.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    padding: 30px;
    color: #FFCB05;
}

.pagination__button {
    font-weight: bold;
}

.list__item {
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFCB05;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.list__avatar {
    height: 100px;
    background-color: #FFCB05;
    border-radius: 50%;
}